@charset "utf-8";
/* CSS Document */

#header {
    	padding: 20px 10px 0 20px;
	height:370px;
    }
#header .menu-top{
	position:relative;
	float:right;
	width:350px;
	margin-top:-40px;
	margin-bottom:-20px;
	margin-right:0px;
	}
#header .gaucho-header{
	position: absolute;
	/*margin-left:760px;*/
	margin-top:250px;/*-160*/
        z-index:100;
}
#mainContent .top-menu-secundary{
	width:300px;
	margin-top:-10px;
	margin-bottom:15px;
}
#stickies-bottom h3{
	text-align:center;
	padding-top:10px;
}
#videos ul{
	/*padding:10px 0;*/
}
#videos li{
	list-style:none;
	/*list-style-image:url(../images/pasantias.png)*/
	background:#FFFFFF;
	width:190px;
	/*min-height:20px;
	max-height:40px;*/
	padding:10px 10px;
	/*margin-bottom:10px;*/
}